#helpMessage {
    -fx-text-fill: white;
    -fx-background-color: derive(#1d1d1d, 20%);
}

#copyButton {
    -fx-text-fill: white;
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

.scroll-pane {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-pane .viewport {
    -fx-background-color: derive(#1d1d1d, 20%);
}
